

</div>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<div id="footer" class="footer-padding"></div>
  <div class="footer container-fluid">

      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>

  </div>
</div>
</body>
</html>
